@font-face {
  font-family: "IBM Plex Sans Condensed";
  src: url("fonts/ibmplexsanscondensed/IBMPlexSansCondensed-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "IBM Plex Serif";
  src: url("fonts/ibmplexserif/IBMPlexSerif-Regular.ttf") format("truetype");
}
body{
  margin: 0;
  font-family: "IBM Plex Sans Condensed", sans-serif;
}
header {
  overflow: hidden;
  background: linear-gradient(to bottom,
      #d4f7f7 0%,
      #94d1d1 55%,
      #70c2c2 55%,
      #45a1a1 100%
  );

}
header a {
  float: left;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  padding: 20px 18px;
  font-size: 18px;
}
header a:hover {
  background: linear-gradient(to bottom,
      #d4f7f7 0%,
      #82c9c9 55%,
      #5ebaba 55%,
      #3d8f8f 100%
  );
}
.pineapple {
  text-align: justify;
  padding: 20px 30px;
  margin: auto;
  background-image: linear-gradient(#dbf0f0,#ffffff);
  border-radius: 15px;
}
main p {
  text-align: justify;
}
main a {
  text-decoration: none;
  color: #004d99;
}
main a:hover {
  text-decoration: underline;
}
main {
  width: 50%;
  text-align: left;
  padding: 20px 30px;
  font-size: large;
  align-items: center;
  margin: auto;
}
h1 {
  text-align: left;
}
p {
  text-align: center;
}
li {
  list-style: inside
}
img {
  margin: 15px;
  float: right;
}
.blogp {
  font-family: "IBM Plex Serif", "IBM Plex Sans Condensed", serif
}
